*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class

# Keystore
*.jks
*.keystore
keystore.properties

# Logs
*.log

# Misc
.kotlin/
